@media screen and (max-width: 1088px) {
    .license_oform{
        flex-direction: column;
        align-items: center;
    }
    .oform_item_text{
        padding: 15px;
    }
    .container{
        margin: 0 50px;
    }
    .menu{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .header_contacts{
        display: none;
    }
    .licence_left_container {
        
        margin-bottom: 10px;
        max-width: none;
    }
    .left_container_title{
        margin-bottom: 10px;
    }
    .left_container_about{
        margin-bottom: 50px;
    }
    .licence_right_container{
        width: 100%;
        padding-left: 0px;
        max-width: none;
        border-left: none;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        padding-top: 25px;
    }
    .right_container_button{
        width: 100%;
    }
    
    
    .consult{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: -100px;
    }
    .license_oform{
        margin-bottom: 100px;
    }
    .consult_wrapper{
        max-width: 600px;
        justify-content: center;
    }
    .consult_left_container{
        padding-right: 60px;
    }
    .price_wrapper{
        display: flex;
        flex-direction: column;
        
    }
    .price_wrapper h2{
        
    }
    .price_text_container{
        justify-content: center;
    }
    .price_text_right_container p{
        margin-top: 20px;
    }
    .license_oform{
        justify-content: center;
    }
    .oform_item_text{
        margin-bottom: 20px;
    }
    .about_company{
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .about_company_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about_left_container{
        max-width: none;
    }
    .about_right_container{
        width: 100%;
    }
    .about_right_container img{
        width: 100%;
    }
    .center_img_container{
        display: none;
    }
    .map{
        border-top: none;
    }

    .map_wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .map-adress-wrapper{
        position: inherit;
        align-items: center;
        width: 100%;
        margin-left: 0px;
        max-width: none;
        padding-top: 25px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    footer{
        padding-left: 15px;
        padding-right: 15px;
    }
    .popup{
        padding: 15px;
    }

}
@media screen and (max-width:800px){
    .image{
        display: none;
    }
    .image-adaptiv{
        display: block;
        height: 400px;
    }
}
@media screen and (max-width:777px) {
    .item_container{
        justify-content: center;

    }
    .dropdown__{
        margin-bottom: 20px;
    }
    .about_company_title{
        text-align: center;
    }
    .consult_input_container{
        flex-direction: column;
    }
}

@media screen and (max-width: 456px) {
    .popup{
        padding-bottom: 40px;
    }
    .container{
        margin: 0 15px;
    }
    .consult_left_container{
        padding: 35px 10px 0 10px;
    }
    .consult_img{
        width: 300px;
        height: 400px;
        margin-top: 20px;
    }
    .slider_title h1{
        font-size: 35px;
        text-align: left;
        margin: 0;
    }
    .license_oform{
        margin-bottom: 50px;
    }
    
}
