
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

@font-face {
    font-family: "Mont", sans-serif;
    src: url(Mont\ \(font\)/);
}
body{
    font-family: 'Mont', sans-serif;
    background-image: url("./img/main_background.png");
    background-repeat: no-repeat;
    background-size:cover;
    
}  
.text{
    font-size: 16px;
}
.text-color span{
    color: #0094EC;
}
button:hover{
    background: rgba(25, 146, 248, 0.8);
    transition: 0.2s;
}
button:focus{
    background: rgba(25, 146, 248, 0.8);
}
 h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #54595F;
}
h2{
    font-weight: 700;
    font-size: 18px;
    color: #1992F8;
    line-height: 23px;
    margin-bottom: 4px;
}
 span{
    color: #0094EC;
}
p{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}
/* header                                           */
header{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    z-index: -1;
    
}
.menu{
    
    display: flex;
    gap: 20px;
    line-height: 19px;
}
.menu a{
    color: black;
    
}
.header_contacts a{
   font-weight: 400;
   font-size: 12px;
    font-weight: 700;
   color: #1992F8;
}
.contacts_number {
    display: flex;
    align-items: center;
    gap: 8px;
}
.contacts_number img{
    max-width: 16px;
    max-height: 16px;
}
.contacts_number p{
    font-weight: 700;
    font-size: 18px;
    line-height: 38px;
}
.menu-btn {
    display: none;
	width: 30px;
	height: 30px;
	position: fixed;
    right: 10px;
	z-index:2000;
	overflow: hidden;
}
.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}
.burger-menu {
    border-radius: 0 0 15px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 40%;
	height: 30%;
	padding: 15px;
    background: #0094EC;
	transform: translateX(-100%);
	transition: transform 0.5s; 
    max-width: 210px;
    z-index: 2000;
}
 
.burger-menu.active {
	transform: translateX(0%);
}
.burger-menu-links li a{
	list-style-type: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
}
.menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
  }

/* licence */
.background{
    position: absolute;
    width: 446px;
    height: 446px;
    left: 90%px;
    top: 30%;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 148, 236, 0.33) 0%, rgba(0, 148, 236, 0) 100%);
}
.licence{
    margin-top: 100px;
    margin-bottom: 80px;
}
.licence_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.licence_left_container {
    max-width: 600px;
    align-items: center;
}

.left_container_title {
    font-weight: 600;
    font-size: 60px;
    line-height: 77px;
    margin-bottom: 40px;
}

.right_container_title{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.left_container_title span{
    color: #1992F8;
}
.left_container_about {
    display: flex;
    align-items: center;
    gap: 10px;
}
.left_container_about a{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #1992F8;
}
.left_container_about button{
    background-color: #ffff;
}
.licence_right_container {
    max-width: 470px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    padding-left: 40px;
}
.right_container_title {
    display: flex;
    align-items: center;
    gap: 6px;
    
    margin-bottom: 20px;
}
.right_container_title p{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.left_container_title p{
    font-weight: 700;
    font-size: 60px;
    line-height: 77px;
}
.right_container_title img{
    width: 75px;
    height: 75px;
}
.right_container_text p{
    font-weight: 400;
    line-height: 26px;
}

.right_container_price {
    font-weight: 700;
    line-height: 26px;
    color: #1992F8;
    margin-bottom: 30px;
}
.right_container_button {
    padding: 12px 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #ffff;
    text-align: center;
    text-transform: uppercase;
    background: #1992F8;
    border-radius: 25px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 148, 236, 0.25);
}
.popup{
    border-radius: 25px;
    padding-right: 60px;
    background-color: rgba(0,0,0,0.5);
    top:0px;
    background-color:  #1992F8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.5s all;
    text-align: center;
    max-width: 490px;
}
.checkbox_container p{
    text-align: left;
}
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
}
.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}
.popup.active { 
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.image{
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
    background-image: url("./img/main-page-img.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
}
.image-adaptiv{
    margin-top: 40px;
    background-image: url("./img/main-page-woman-adaptive.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center;  */
    
}
/* benefits */
.benefits {
}
.benefits_wrapper {
}
.benefits_title {
    max-width: 750px;
    margin-bottom: 25px;
}
.item_container {
    padding-top: 40px;
    border-top:  1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item {
    max-width: 370px;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}
.item_img {
    width: 77px;
    height: 77px;
}
.item_right_container{
    color: #54595F;
}
.item_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
}
.item_text{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}
/* consult */
.consult {
}
.consult_wrapper {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    background-color:  #1992F8;
    box-shadow: 0px 15px 40px rgba(0, 148, 236, 0.14);
    border-radius: 25px;
    gap: 10px;
    /* padding: 60px; */
}
.consult_left_container {
    padding: 60px 0 40px 60px;
    max-width: 650px;
}
.consult_left_container h1{
    color: #FFFFFF;
    margin-bottom: 20px;
}
.consult_left_container p{
    color: #FFFFFF;
    /* margin-bottom: 30px; */
}
.consult_input_container{
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.56);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    
}
.consult_input_container input{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
    background: #F1F8FF;
    border: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 15px;
    width: 100%;
}
.consult_left_container button{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background: #1992F8;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    margin-bottom: 30px;
}
.checkbox_container {
    display: flex;
    gap: 20px;
}
.checkbox_container input{
    width: 20px;
    height: 20px;
}
.checkbox_container p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.72);
}
.consult_img{
    margin-top: -5%;
    height: 600px
}
/* price */
.price {
    margin-bottom: 60px;
}
.price_wrapper {
}
.price_wrapper h2{
    text-transform: uppercase;
}
.price_wrapper h1{
    max-width: 560px;
    margin-bottom: 40px;
}
.price_text_container {
    padding-top: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price_text_left_container {
    max-width: 550px;
}
.price_text_right_container{
    max-width: 550px;
}
.price_text_right_container p{
    color:  #54595F;
}
.price_text{
    color:  #54595F;
    margin-top: 11px;
}
.item_wrapper{
    padding: 0 100px 50px 100px;
}
.license_oform {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.license_oform_item {
    max-width: 560px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    border-radius: 15px;
    background: #FFFFFF;
}
.license_oform_item button{
    color: #FFFFFF;
    padding: 12px 0;
    width: 100%;
    background: #1992F8;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 148, 236, 0.25);
    border-radius: 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.license_oform_item button:hover{
    background: rgba(25, 146, 248, 0.8);
    transition: 0.2s;
}
.license_oform_item button:focus{
    background: rgba(25, 146, 248, 0.8);
}
.oform_item_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding: 31px 0;
    background: #ECF3FB;
    border-radius: 15px 15px 0px 0px;
}
.oform_item_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 100px 50px 100px;
    background-color: #FFFFFF;
    border-radius: 0 0 15px 15px;
}
.oform_item_text{
    font-size: 18px;
    line-height: 26px;
    /* text-align: center; */
    color: #54595F;
    font-weight: 600;
    border-radius: 0 0 15px 15px;
}
.oform_item_text span{
    font-weight: 800;
    color: #54595F;
}
.srok{
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
}
.god{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 10px;
}
.poshlina_year{
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    margin-bottom: 20px;
}
.service_price{
    margin-bottom: 30px;
}
.slider_wrapper{
    margin-bottom: 100px;
}
.slider_title{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
.slider_wrapper h1{
    margin-bottom: 25px;
    font-size: 37px;
}
.about_company {
}
.about_company_title{
    margin-bottom: 30px;
}
.about_company_title h2{
    text-transform: uppercase;
}

.about_company_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.about_left_container{
    max-width: 580px;
}
.about_left_container h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #54595F;
    margin-bottom: 20px;
}
.about_left_container p{
    margin-bottom: 20px;
    color: #54595F;
}
.about_right_container {
}
.center_img_container{
    display: flex;
    margin-bottom: 142px;
    justify-content: flex-end;
}
.map_container{
    margin-bottom: 100px;
}
.map_container h1{
    margin-bottom: 25px;
}
.map{
    position: relative;
    padding-top: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 100%;
    height: 600px;
}
.map_wrapper{
    display: flex;
}
.map-adress-wrapper{
    margin-top: 100px;
    background: #1992F8;
    box-shadow: 0px 15px 20px rgba(0, 148, 236, 0.15);
    border-radius: 25px;
    max-width: 470px;
    /* margin-top: -30%; */
    position: absolute;
    z-index: 1000;
    margin-left: 100px;
    
}
.map-adress {
    padding: 40px 20px 40px 50px;
}
.map-adress p{
    font-weight: 400;
}
.map-adress-item{
   display: flex;
   gap: 10px;
   align-items: flex-start;
   color: #FFFFFF;
   margin-bottom: 20px;
}
.adress{
    gap:18px;
}
.number{
    gap: 16px;
}
.e-mail{

}
.time{
    gap: 12px;
    margin-bottom: 0px;
}
footer{
    background: #0D1635; 
}
.footer_wrapper {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}
.footer_item {
    margin-bottom: 40px;
}
.footer_item p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}
.company{
    max-width: 350px;
}
.footer_item_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: rgba(237, 243, 250, 0.6);
    margin-bottom: 20px;
}
.footer_links_container {
    display: flex;
    gap: 30px;
}
.links_container_item li{
    margin-bottom: 10px;
}
.links_container_item a{
    color: rgba(255, 255, 255, 0.9);
}
.contacts_item {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 10px;
    /* justify-content: flex-start; */
}
.contacts_item img{
    margin-top: 5px;
}
.footer_rights_container {
   padding-top: 20px;
   border-top: 1px solid rgba(255, 255, 255, 0.2);
   padding-bottom: 35px;
   display: flex;
   
}
.footer_rights_item {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
}
.footer_rights_links_container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}
.footer_rights_links_container a{
    color: rgba(255, 255, 255, 0.35);
    font-size: 12px;
}
.footer_rights_container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.footer_rights_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_rights_item p{
    font-weight: 600;
    font-size: 12px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.35);
    margin-bottom: 20px;
}
.d-flex {
    display: flex;
    max-width: 1000px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    margin: 0 auto;
}
.dropdowns{
    margin-top: 100px;
}
.dropdown__ {
    /* position: relative; */
    cursor: pointer;
    width: 100%;
    margin-bottom: 70px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.05);

}

.dropdown__ .head {
    padding: 23px 40px 24px 23px;
    background: #FFFFFF;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    width: 100%;
}
.head{
    display: flex;
    justify-content: space-between;
}
.head span{
    color:#54595F;
}
.plus{
    display: block  ;
}
.hidden{
    display: none;
}
.head img{
    
}


.dropdown__list__ {
    color: #54595F;
    font-weight: 400;
    max-width: 1170px;
    /* position: inherit; */
    display: flex;
    flex-direction: column;
    /* top: calc(100% + 10px); */
    background-color: #FFFFFF;
    transition: all 0.2s ;
    margin-top: -10px;
    padding: 0 0px 24px 30px;
    border-radius: 15px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    
}
.dropdown_content{
    max-width: 1000px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.dropdown_content_ p{
    font-weight: 400;
}
.dropdown_ul{
    padding-left: 40px;
}
.dropdown__list__ li{
    list-style: disc;
    padding-left: 5px;
}










